@font-face {
    font-family: WebFont;
    src: url("fonts/PlaypenSans-Bold.ttf");
}

li{
    list-style-type: none;
    padding: 0 0;
    margin: 0 0;
}

html{
    font-family: WebFont, serif;
}

body{
    background-image: linear-gradient(120deg, royalblue, deepskyblue);
    min-height: 100vh;
    color: white;
}
.todo_input{
    display: flex;
    justify-content: center;
}
header>h1{
    display: flex;
    justify-content: center;
    font-size: 24px ;
}
form{
    display: flex;
    justify-content: center;
}
.todo_button {
    color: white;
    cursor: pointer;
    background: #43B343FF ;
    font-size: 14px;
}

.todo_container{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 33%;
}
.todo_list-container{
    /*display: flex;*/
    /*justify-content: center;*/
    /*!*align-content: center;*!*/
    /*align-items: flex-start;*/
    /*flex-wrap: nowrap;*/
    /*flex-direction: column;*/
    width: 100%;
    background-color: white;
    padding: 0 0;
}
.todo{
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid #0f0f0f;
}
.todo_list{
    display: flex;
    justify-content: center;
    color: black;
    /* -webkit-text-stroke: 0.5px black; */
    /* -webkit-text-fill-color: black; */
    align-content: stretch;
    align-items: center;
}
.todo_list-donetask{
    padding: 0.5rem;
    background: white;
    border: none;
    margin-left: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
}



.todo_list-donetask{
    background: #43B343FF;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.todo_list-donetask:active{
    background: green;
}

/*.todo_list-deletetask{*/
/*    display: inline-block;*/
/*    color: black;*/
/*    content: "\00d7";*/
/*}*/

/*.todo_list-deletetask:hover{*/
/*    background: red;*/
/*    color: white;*/
/*}*/


.doneitem{
    text-decoration: line-through black;

}
.todo_list-deletetask {
    /* position: absolute; */
    right: 32px;
    top: 32px;
    width: 32px;
    height: 34px;
    /* opacity: 0.3; */
    display: flex;
    justify-content: space-around;
    background: white;
    border: initial;
}
.todo_list-deletetask:hover {
    color: white;
    background: red;
}
.todo_list-deletetask:before, .todo_list-deletetask:after {
    position: absolute;
    display: flex;
    /* left: 15px; */
    content: '\00d7';
    height: 33px;
    width: 4px;
    background-color: #a4a0a0;
    justify-content: space-between;
}
.todo_list-deletetask:before {
    transform: rotate(45deg);
}
.todo_list-deletetask:after {
    transform: rotate(-45deg);
}
.todo_list-deletetask:before:hover, .todo_list-deletetask:after:hover{
    background-color: red;
}
